{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('auth_mng_create') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}

